html, body { height: 100%; }

.placeholders {
  margin: 12px auto;
  text-align: center;
}

.banner {
  background: url(image-path('cover.jpg'));
  background-size: cover;
  height: 350px;
  width: 100%;
  margin-top: -20px;
}

.placeholder {
  background: #000;
  border-radius: 50%;
  border: 5px solid #666;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.placeholder h1, .placeholder a, .placeholder a:hover, .placeholder a:visited{
  color: #FFF;
  font-size: 34px;
  padding-top: 59px;
  text-decoration: none;
}

.panel-heading a, .panel-heading a:hover, .panel-heading a:visited{
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.badge { float: right; }
.link-right { float: right; }

.beleza      { background-color: #a22d7f; border: 1px solid #000; }
.beleza:hover, .beleza:focus { background-color: #B94396; }
.back_beleza  { background-color: rgb(170, 89, 112); }

.saude       { background-color: #1584C5; border: 1px solid #000; }
.saude:hover, .saúde:focus { background-color: #2494D6; }

.publicidade { background-color: #03AB34; border: 1px solid #000; }
.publicidade:hover, .publicidade:focus { background-color: #05B939; }

.design      { background-color: #C1040F; border: 1px solid #000; }
.design:hover, .design:focus { background-color: #D40410; }

.tecnologia  { background-color: #13A8FB; border: 1px solid #000; }
.tecnologia:hover, .tecnologia:focus { background-color: #48BEFF; }

.fixed_bottom {
  position: absolute;
  margin-top: 5px;
  bottom: 0;
  width: 100%;
}

.fixed_bottom {
   position:fixed;
   padding: 10px 0;
   left:0px;
   bottom:0px;
   height:35px;
   width:100%;
   background: rgba(0,0,0,0.9);
}
